*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:25px;
    color:white;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body{
    height: 100vh;
    min-height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(53, 143, 115), rgb(91, 91, 91));
    background-repeat: no-repeat;
}
body::-webkit-scrollbar,
 .history_container::-webkit-scrollbar {
    width: 6px;
}
body::-webkit-scrollbar-track,
 .history_container::-webkit-scrollbar-track {
    background: transparent;
  }
body::-webkit-scrollbar-thumb,
.history_container::-webkit-scrollbar-thumb {
    background-color: rgb(227, 227, 227);
    border-radius: 2px;
    border: none;
}
hr{
    color: white;
    width:100%;
    color:inherit;
}
button{
    background-color: transparent;
    border:1px solid white;
    outline: none;
    border-radius:5px;
    padding: 10px;
}
button:hover, td:hover, .btn_selected, td:hover>hr{
    border:1px solid rgb(126, 191, 51);
    color:rgb(126, 191, 51);
}
.td_watch_hover_lmb, .td_watch_hover_lmb:hover, 
.td_watch_hover_lmb>hr, .td_watch_hover_lmb:hover>hr{
    border:1px solid rgb(39, 214, 214);
    color:rgb(39, 214, 214);
}
.span_watch_hover_lmb{
    color:rgb(39, 214, 214);
}
.td_watch_hover_rmb, .td_watch_hover_rmb:hover, 
.td_watch_hover_rmb>hr, .td_watch_hover_rmb:hover>hr{
    border:1px solid rgb(220, 112, 253);
    color:rgb(220, 112, 253);
}
.span_watch_hover_rmb{
    color:rgb(220, 112, 253);
    font-size: inherit;
}
.btn_error, .btn_error:hover{
    border:1px solid rgb(197, 35, 35);
}
.btn_error>input{
    color:rgb(255, 187, 187);
}

table{
    padding:10px;
    margin-bottom: 10px;
}
td{
    border:1px solid white;
    border-radius: 5px;
    padding:10px 5px 10px 5px;
}
.td_wall, .td_wall:hover{
    border:none;
    color:inherit;
    width: 5px;
    padding: 0;
}
.span_fraction{
    font-size: 20px;
    padding: 7px 5px;
}
#ChooseSizeMatrix>tbody>tr>td{
    padding: 20px;
    transition-property: background-color;
    transition-duration: 0.2s;
}
#finalMatrix>tbody>tr>td{
    min-width: 40px;
    text-align: center;
}
.matrix_wrapper{
    display:flex;
    flex-direction: row;
}
.workspace{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    border:1px solid white;
    border-radius: 20px 0 0 20px;
    min-width:500px;
    height: 800px;
}
.matrix_screen{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.matrix_input{
    background-color: transparent;
    font-size: 20px;
    max-width: 33px;
    margin: 0;
    padding: 5px;
    outline: none;
    border: none;
    text-align: center;
}
.determined{
    width: 100%;
    text-align: end;
    font-size: 20px;
}
.matrix_tools{
    text-align: center;
}
.matrix_tools_btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:100%;
}
.matrix_tools_btn>p{
    margin-bottom: 10px;
}
.move_text{
    display:flex;
    flex-direction: row;
    margin: 20px 0 30px 0;
}
.move_text>p, .move_text>input{
    margin-right: 10px;
}
.move_text>input{
    background-color: transparent;
    outline: none;
    border:none;
    border-bottom: 1px solid white;
    width:75px;
}
.history{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    border:1px solid white;
    border-radius: 0 20px 20px 0;
    height: 800px;
    min-width: 200px;
}
.history>p{
    margin-bottom: 10px;
}
.history_container{
    overflow-y: scroll;
    overflow-x: hidden;
}
.history_td{
    border-top: 0;
    border-left: 0;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 0;
    padding:4px;
    font-size: 15px;
    text-align: center;
}
.history_item>p{
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.history_td:hover{
    border-top: 0;
    border-left: 0;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 0;
    color:white;
}
.history_td:last-child{
    border-right: 0;
}
.history_tr:last-child>td{
    border-bottom: 0;
}
